<h2>BOM List</h2>
<table>
    <tr><td>
    <table border="1" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody id=bomsTable></tbody>
    </table>
    </td></tr>
    <tr>
        <td><button onclick="bomView.clear(); bomView.load()">Refresh List</button></td>
        <td><button onclick="bomView.clear()">Clear List</button></td>
    </tr>
</table>

<script>
    var BOMModel = Backbone.Model.extend({
        urlRoot: '/api/v1/bom'
    });
 
    var BOMCollection = Backbone.Collection.extend({
        url: '/api/v1/bom',
        model: BOMModel,
        comparator: 'name'
    });
 
    _.templateSettings = {
        interpolate : /\{\{(.+?)\}\}/g
    };
    
    var BOMsView = Backbone.View.extend({
        el: '#bomsTable',
        initialize: function () {
            _.bindAll(this);
        },
        clear: function() {
            this.$el.html('');
        },
        load : function(){
            this.collection.fetch({
              success: this.loadCompleteHandler,
              error: this.errorHandler
            });
        }, 
        loadCompleteHandler : function(){
            this.render();
        },
        errorHandler : function(){
            throw "Error loading JSON file";
        },
        template: _.template("<tr><td><a href=\"/api/v1/bom/{{id}}\">{{ name }}</a></td><td>{{version}}</td><td><a href=\"/view/bom/gedit/{{id}}\"><button>Edit</button></a></tr>"),
        render: function () {
            this.collection.each(function(bom) {
                this.$el.append(this.template(bom.toJSON()));
            }, this);
        }
    });
     
    var boms = new BOMCollection();
    
    var bomView = new BOMsView({collection: boms});
    bomView.load();
    
</script>