<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
   <meta charset="utf-8">
   <!-- If you delete this meta tag World War Z will become a reality -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Production Management</title>

   <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
   <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"  media="screen,projection"/>
   <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
   <link rel="stylesheet" href="build/css/style.css" media="screen,projection"/>

   <!-- If you are using the gem version, you need this only -->
   <link rel="stylesheet" href="css/app.css" media="screen,projection">
</head>
<body ng-app="prod">
   <!-- Navigation -->
   <div class="navbar-fixed">
   <nav class="grey" role="navigation">
      <div class="container">
      	<div class="nav-wrapper">
      		<ul id="slide-out" class="side-nav">
		    		<li>
              <a href="#"><i class="mdi-action-receipt left cyan-text"></i>Orders</a>
            </li>
		    		<li>
              <a href="#/products"><i class="mdi-device-storage left cyan-text"></i>Products</a>
            </li>
		    		<li>
              <a href="#/raw_materials"><i class="mdi-image-grain left cyan-text"></i>Raw Materials</a>
            </li>
		    		<li><a href="#/employees"><i class="mdi-social-people left cyan-text"></i>Employees</a></li>
		    	</ul>
		  		
		  		<a href="#" data-activates="slide-out" class="button-collapse show-on-large white-text">
		  			<i class="mdi-navigation-menu"></i>
		  		</a>
		  		
		  		<a id="logo-container" href="#!" class="white-text logo roboto fw-100">DEODAR PARK</a>
	  		</div>
	   </div>
   </nav>
   </div>
   <!-- End Navigation -->

  <!-- body content here -->
  <div ng-view></div>
  
   <!-- Footer -->
   <!--footer class="cyan container">
      <div class="row">
         <div class="col large-6">
            &copy; 2015 Deodarpark Inc.
         </div>
         <div class="col large-6 right">
              Powered by BDS
         </div>
      </div>
   </footer -->
   <!-- End Footer -->
   
  <!-- JS files here -->
  <script src="build/js/vendor.js"></script>
  <script src="build/js/app.js"></script>
  
</body>
</html>