              
<!-- Requires Foundation 4 | visit http://foundation.zurb.com to download -->
<div class="row">
  <div class="large-12 columns">

    <div class="row">

    <!-- Thumbnails -->

      <div class="large-12 columns">
        <div class="row">

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/1000x1000&text=O">

            <div class="panel">
              <h5>Order</h5>
              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=E">

            <div class="panel">
              <h5>Production Entry</h5>
              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=P">

            <div class="panel">
              <h5>Product</h5>
              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=R">

            <div class="panel">
              <h5>Raw Material</h5>
              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=M">

            <div class="panel">
              <h5>Machine</h5>
              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&text=E">

            <div class="panel">
              <h5>Employee</h5>
              <h6 class="subheader">$000.00</h6>
            </div>
          </div>
        </div>

  <!-- End Thumbnails -->
  
      </div>
    </div>

  </div>
</div>              
