<div class="container" ng-controller="OrderListCtrl as this">

	<h5 class="cyan-text">{{this.title}}</h5>

	<table class="striped">
		<thead>
        	<tr>
              <th data-field="id">Order ID</th>
              <th data-field="product">Product</th>
              <th data-field="completion">Completion</th>
              <th data-field="status">Status</th>
              <th data-field="createdAt">Created At</th>
              <th data-field="createdAt">Production Start</th>
              <th data-field="createdAt">Production End</th>
            </tr>
        </thead>
		<tr ng-repeat="o in this.orders">
	    	<td>{{ o.id }}</td>
	    	<td class="{{o.color}}-text">{{ o.forProduct.name }}</td>
	    	<td>{{ o.completedQuantity }} of {{ o.quantity }}</td>
	    	<td>{{ o.status }}</td>
	    	<td>{{ o.createdAt | date:"dd.MM.yyyy" }}</td>
	    	<td>{{ o.productionStartAt | date:"h:mma" }}</td>
	    	<td>{{ o.productionEndAt | date:"h:mma" }}</td>
	    </tr>
	</table>
		
</div><!-- container -->

<!-- side flooding action button -->
<div class="fixed-action-btn right-icon">
	<a href="#/new_order" class="btn-floating btn-large waves-effect red">
		<i class="large mdi-content-add"></i>
	</a>	
</div>

