<div class="container" id="new_product_div" ng-controller="ProductCtrl as p">
   
   	<h5 class="blue-text">{{p.title}}</h5>

   	  	<div class="row">
   	      <div class="input-field col s12">
               <i class="mdi-action-description prefix"></i>
   	         <input id="username" type="text" class="validate" ng-model="p.product.name"/>
   	         <label for="username">Product Name</label>
   	      </div>
   	   </div>

   	   <div class="row">
   	      <div class="input-field col s6">
               <i class="mdi-device-signal-wifi-0-bar prefix"></i>
   	         <input id="weight" type="text" class="validate" ng-model="p.product.weight">
   	         <label for="weight">Weight (oz)</label>
   	      </div>
   	      <div class="input-field col s6">
               <i class="mdi-editor-attach-money prefix"></i>
   	         <input id="weight" type="text" class="validate" ng-model="p.product.price">
   	         <label for="weight">Price (Kyat)</label>
   	      </div>
   	   </div>

   	   <div class="row">
            <div class="input-field col s4">
               <i class="mdi-device-access-alarm prefix"></i>
               <input id="time" type="text" class="validate" ng-model="p.product.timeToBuildInSec">
               <label for="time">Estimated Time To Finish (sec)</label>
            </div>
            <div class="input-field col s8">
              <p class="range-field range-slider">
                  <input type="range" id="test5" min="1" max="120" ng-model="p.product.timeToBuildInSec"/>
               </p>
            </div>
         </div>
		
   	   
         <div class="row">
   	    		<div class="input-field col s4">
   	    			<i class="mdi-image-color-lens prefix"></i>
   	    			<label for="available-color">Available Colors:</label>
   	    		</div>

   	       	<div class="input-field col s8">
	   	       	<form action="#">
	   	       	<div ng-repeat="color in p.colors">
		               <input type="checkbox" id="{{color}}" value="{{color}}" name="selectedColors[]"
		               	ng-checked="p.selection.indexOf(color) > -1"
								ng-click="p.toggleSelection(color)"/> 
		               <label for="{{color}}"><i class="small mdi-action-invert-colors {{color}}-text"></i>
		               </label>
		            </div>
		            </form>
              	</div>
         </div>

   	    </br>

   	    <div class="row">
   	      <div class="input-field col s12">
   	        <a class="waves-effect waves-light btn-large btn-wide blue" ng-click="p.create(p.product)">Save</a>
   	      </div>
   	    </div>

   

</div><!-- end container -->

<!-- side flooding action button -->
<div class="fixed-action-btn right-icon">
   <a class="btn-floating btn-large waves-effect red">
      <i class="large mdi-navigation-more-vert"></i>
   </a>
   <ul>
      <li>
         <a class="btn-floating yellow" href="#"><i class="large mdi-action-home"></i></a>
      </li>
      <li>
         <a class="btn-floating grey darken-1" href="#/products"><i class="large mdi-action-delete"></i></a>
      </li>
   </ul>
</div>