<div class="container">

	<h4 class="cyan-text">{{orderCtrl.title}}</h4>

	  	<div class="row">
	      <div class="input-field col s12">
            <i class="mdi-action-description prefix"></i>
	        <input id="username" type="text" class="validate" ng-model="orderCtrl.order.description" required>
	        <label for="username">Order Description</label>
	      </div>
	    </div>
	    
      <div class="row">
	      <div class="input-field col s12">
            <i class="mdi-action-find-in-page prefix"></i>
	         <input id="product" type="text" class="validate" ng-model="orderCtrl.order.product" required>
            <label for="product">Product</label>
	      </div>
      </div>

	    <div class="row">
         <div class="input-field col s4">
            <i class="mdi-editor-format-list-numbered prefix"></i>
            <input id="last_name" type="text" class="validate" ng-model="orderCtrl.order.quantity" required>
            <label for="last_name">Quantity</label>
         </div>
         <div class="input-field col s8">
              <p class="range-field range-slider">
                  <input type="range" id="quantity-slider" min="1" max="2000" ng-model="orderCtrl.order.quantity"/>
               </p>
            </div>
       </div>
       
       <div class="row">
         <div class="input-field col s4">
            <i class="mdi-action-schedule prefix"></i>
            <label for="priority">Priority</label>
         </div>
         <div class="input-field col s8">
            <form action="#">
               <input name="group1" type="radio" id="express" />
               <label for="express">Express</label>

               <input name="group1" type="radio" id="regular" checked />
               <label for="regular">Regular</label>

               <input name="group1" type="radio" id="canwait" />
               <label for="canwait">Can Wait</label>
            </form>
         </div>
       </div>

      </br></br>

      <div class="row">
         <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large btn-wide cyan" ng-click="orderCtrl.create(orderCtrl.order)">Save</a>
         </div>	  
	  </div>


</div><!-- end container -->

<!-- side flooding action button -->
<div class="fixed-action-btn right-icon">
   <a class="btn-floating btn-large waves-effect red">
      <i class="large mdi-navigation-more-vert"></i>
   </a>
   <ul>
      <li>
         <a class="btn-floating red" href="#"><i class="large mdi-action-home"></i></a>
      </li>
      <li>
         <a class="btn-floating blue darken-1" href="#!"><i class="large mdi-navigation-close"></i></a>
      </li>
   </ul>
</div>
