<div class="container" ng-controller="OrderCtrl as o">

	<h5 class="blue-text">{{o.title}}</h5>

	  	<div class="row">
	      <div class="input-field col s12">
            <i class="mdi-action-description prefix"></i>
	        <input id="name" type="text" class="validate" 
            ng-model="o.order.name" required>
	        <label for="name">Order Description</label>
	      </div>
	    </div>
	    
      <div class="row">
	      <div class="input-field col s4">
            <i class="mdi-action-find-in-page prefix"></i>
	         <label for="product">Select Product:</label>
         </div>
         <div class="input-field col s8">
            <select class="browser-default" 
               ng-model="o.selectedProduct" 
               ng-options="product.name for product in o.products"
               ng-change="o.updateColors()">
            </select>
         </div>
      </div>

      <div class="row">
         <div class="input-field col s4">
            <i class="mdi-image-color-lens prefix"></i>
            <label for="color">Select Color:</label>
         </div>
         <div class="input-field col s8">
            <select class="browser-default" 
               ng-model="o.selectedColor" 
               ng-options="c as c for c in o.colors">
            </select>
         </div>
      </div>

      <div class="row">
         <div class="input-field col s4">
            <i class="mdi-action-schedule prefix"></i>
            <label for="priority">Priority</label>
         </div>
         <div class="input-field col s8">
            <form action="#">
               <span ng-repeat="p in o.priority">
                  <input name="group1" type="radio" id="{{p}}" 
                     ng-model="o.selectedPriority"/>
                  <label for="{{p}}">{{p}}</label>
               </span>
            </form>
         </div>
      </div>

      <div class="row">
         <div class="input-field col s4">
            <i class="mdi-editor-format-list-numbered prefix"></i>
            <input id="quantity" type="text" class="validate" ng-model="o.order.quantity" required>
            <label for="quantity">Quantity</label>
         </div>
         <div class="input-field col s8">
              <p class="range-field range-slider">
                  <input type="range" id="quantity-slider" min="1" max="2000" ng-model="o.order.quantity"/>
               </p>
            </div>
      </div>
      
      </br>

      <div class="row">
         <div class="input-field col s12">
            <a class="waves-effect waves-light btn-large btn-wide blue" ng-click="o.create(o.order)">Save</a>
         </div>	  
	  </div>


</div><!-- end container -->

<!-- side flooding action button -->
<div class="fixed-action-btn right-icon">
   <a class="btn-floating btn-large waves-effect red">
      <i class="large mdi-navigation-more-vert"></i>
   </a>
   <ul>
      <li>
         <a class="btn-floating yellow" href="#"><i class="large mdi-action-home"></i></a>
      </li>
      <li>
         <a class="btn-floating grey darken-1" href="#!">
            <i class="large mdi-action-delete"></i>
         </a>
      </li>
   </ul>
</div>
