<div class="container" ng-controller="ProductListCtrl as pl">

	<h5 class="blue-text">{{pl.title}}</h5>

	<table class="striped">
		<thead>
        	<tr>
              <th data-field="id">Name</th>
              <th data-field="price">Unit Weight</th>
              <th data-field="name">Price</th>
              <th data-field="price">Time To Build</th>
        	</tr>
        </thead>
        <tr ng-repeat="p in pl.products">
	    	<td>{{ p.name }}</td>
	    	<td>{{ p.weight }} oz</td>
	    	<td>{{ p.price }} kyat</td>
	    	<td>{{ p.timeToBuildInSec }} sec</td>
	    </tr>
	</table>

</div>

<!-- side flooding action button -->
<div class="fixed-action-btn right-icon">
	<a class="btn-floating btn-large waves-effect red">
		<i class="large mdi-navigation-more-vert"></i>
	</a>
	<ul>
      <li>
      	<a class="btn-floating yellow" href="#"><i class="large mdi-action-home"></i></a>
		</li>
		<li>
      	<a class="btn-floating cyan darken-1" href="#/new_product"><i class="large mdi-content-add"></i></a>
      </li>
   </ul>
</div>