<div class="container" ng-controller="RawMaterialListCtrl as ml">

	<h5 class="cyan-text">{{ml.title}}</h5>

	<table class="striped">
		<thead>
        	<tr>
              <th data-field="id">Name</th>
              <th data-field="price">Unit Weight (oz)</th>
              <th data-field="name">Unit Cost (kyat)</th>
              <th data-field="price">Num Bag</th>
            </tr>
        </thead>
        <tr ng-repeat="m in ml.rawMaterials">
	    	<td>
	    		<i class="fa fa-circle fa-lg {{m.color}}-text"></i>
	    		&nbsp;{{ m.name }} 
	    	</td>
	    	<td>{{ m.weight }}</td>
	    	<td>{{ m.cost }}</td>
	    	<td>{{ m.count }}</td>
	    </tr>
	</table>

</div>

<!-- side flooding action button -->
<div class="fixed-action-btn right-icon">
	<a href="#/new_raw_material" class="btn-floating btn-large waves-effect red">
		<i class="large mdi-content-add"></i>
	</a>
</div>
