<div class="container" ng-controller="RawMaterialListCtrl as ml">

	<h5 class="cyan-text">{{ml.title}}</h5>

	<table class="striped">
		<thead>
        	<tr>
              <th data-field="id">Name</th>
              <th data-field="price">Unit Weight</th>
              <th data-field="name">Cost</th>
              <th data-field="price">Count</th>
              <th data-field="price">Color</th>
            </tr>
        </thead>
        <tr ng-repeat="m in ml.rawMaterials">
	    	<td>{{ m.name }}</td>
	    	<td>{{ m.weight }} oz</td>
	    	<td>{{ m.price }} kyat</td>
	    	<td>{{ m.count }}</td>
	    	<td><i class="small mdi-action-invert-colors red-text"></i>red</td>
	    </tr>
	</table>

</div>

<!-- side flooding action button -->
<div class="fixed-action-btn right-icon">
	<a class="btn-floating btn-large waves-effect red">
		<i class="large mdi-navigation-more-vert"></i>
	</a>
	<ul>
      <li>
      	<a class="btn-floating red" href="#"><i class="large mdi-action-home"></i></a>
		</li>
		<li>
      	<a class="btn-floating cyan darken-1" href="#/new_raw_material"><i class="large mdi-content-add"></i></a>
      </li>
   </ul>
</div>
